body {
    background-color: #9d9fa1;
    opacity: 0;
    animation: fadeIn 2s forwards;
      
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
*{
    font-family: cursive;  
}
p, .ul{
    background-color: #E0F4FF;
    display: inline-block;
    padding: 7px 15px ; 
    border-radius: 10px;
      
}
.btn-no{
  background-color: #FFEED9;
}
.btn-yes{
  background-color: #87C4FF;
}

#chat-container {
    max-width: 750px;
    margin: auto;
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
}
.btn {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 25% 10%;;
}


@keyframes bounce {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  img {
    animation: bounce 1s ease-in-out infinite;
  }



  
  